numpy==1.18.1
scipy==1.4.1
torch==1.4.0
torchvision==0.5.0
gym==0.15.4
stable-baselines==2.9.0
pygame==1.9.6
scikit-learn==0.22.1
tensorflow==1.15.0
mpi4py==3.0.3
pillow==7.1.1
mujoco-py==2.0.2.9
matplotlib==3.2.1